# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
src/service/logs

# Собранные файлы проекта
mocks.json

# Загруженные изображения
src/express/upload/img/*.*
!src/express/upload/img/.gitkeep
